<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do Membro</title>
    <link rel="stylesheet" href="../../public/page-login/style.css">
</head>
<body>
    <div id="grid">
        <div class="navbar align-center">DEV-U</div>
        <div class="logo align-center">
            <a href="https://dev-unifei.github.io/">
                <img src="../../public/Dev-U Logos/devu2023.png" alt="logotipo da DEV-U" class="fit-image">
            </a>
        </div>
        <div class="login-container align-center">
            <div class="align-center">
                <form method="post">
                    <h4>Faça login para continuar</h4>
                    <input type="text" placeholder="e-mail" id="email" name="email" required/>
                    <input type="password" placeholder="senha" id="password" minlength="6" name="password" required/>
                    <p>Esqueceu sua senha? <a href="/recuperar-senha">Recuperar senha</a></p>
                    <button type="submit" class="button-27" role="button" value="logar">Entrar</button>
                </form>
                <div id="register">
                    <p>É membro da DEV-U e ainda não possui cadastro? <a href="/register">Cadastre-se aqui</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>