<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do Membro</title>
    <link rel="stylesheet" href="../../public/page-main/style.css">
    <link rel="stylesheet" href="../../public/page-main/buttons.css">
</head>
<body>
    
    <div id="grid">
        <div id="profile-frame">
            <div id="profile-grid">
                <div class="align-center">
                    <div class="align-center">
                        <img src="../../public/images/foto de perfil.jpg" alt="foto de perfil" id="profile-pic">
                        <img src="../../public/rank frames/rank8.png" alt="borda de rank" id="rank-border">
                    </div>
                    <p id="nickname">Flavin</p>
                    <p id="area">Game designer</p>
                </div>
                <div id="info">
                    <p id="name">Nome: Flávio Augusto Aló Torres</p>
                    <p id="dev-u-entry">Entrada na DEV-U: 20/06/2023</p>
                    <p id="itchio">itch.io: flavindowpp.itch.io</p>
                    <p id="discord">Discord: flavindowpp</p>
                    <div id="bio">
                        <p>BIO</p>
                        <p id="bio-content">"In the beginning, there was the designer."</p>
                    </div>
                </div>
                <div class="align-center">
                    <button id="btn-config">
                        <img src="../../public/images/engrenagem (1).png" alt="engrenagem de configurações" width="15%">
                    </button>
                </div>
            </div>
        </div>

        <div id="buttons-frame">
            <div id="buttons-grid" class="align-center">
                <button class="button-1" style="--clr:#39FF14"><span><img src="../../public/Dev-U Logos/av.png" alt="logo" width="100vw"></span><i></i></button>
                <button class="button-1" style="--clr:#FF44CC"><span><img src="../../public/Dev-U Logos/av.png" alt="logo" width="100vw"></span><i></i></button>
                <button class="button-1" style="--clr:#0FF0FC"><span><img src="../../public/Dev-U Logos/av.png" alt="logo" width="100vw"></span><i></i></button>
                <button class="button-1" style="--clr:#8A2BE2"><span><img src="../../public/Dev-U Logos/av.png" alt="logo" width="100vw"></span><i></i></button>
            </div>
        </div>

        <div id="meetings-frame">
            <div id="meetings-grid">
                <div class="align-center">
                    <img src="../../public/Dev-U Logos/devu2023.png" alt="logo da dev-u" width="40%">
                </div>
                <div class="align-center">
                    <p>Econtros:</p>
                    <div class="meeting align-center">
                        <h4>AUDIOVISUAL</h4>
                        <p>quarta-feira, 19:00</p>
                    </div>
                    <div class="meeting align-center">
                        <h4>GAME DESIGN</h4>
                        <p>quarta-feira, 19:00</p>
                    </div>
                    <div class="meeting align-center">
                        <h4>GAME ART</h4>
                        <p>quarta-feira, 19:00</p>
                    </div>
                    <div class="meeting align-center">
                        <h4>PROGRAMAÇÃO</h4>
                        <p>quarta-feira, 19:00</p>
                    </div>
                </div>
                <div class="align-row">
                    <img id="btn-calendar" src="../../public/images/calendar.png" alt="calendário">
                    <img id="btn-statistics" src="../../public/images/statistics.png" alt="estatísticas">
                </div>
            </div>
        </div>
    </div>
    <script src="../../public/page-main/main.js"></script>
</body>
</html>